---
apiVersion: v1beta1
kind: AgentConfig
metadata:
  name: {{ sno_cluster_name }}
rendezvousIP: {{ hostvars['sno1'].ip }}
additionalNTPSources:
  - 0.rhel.pool.ntp.org
  - 1.rhel.pool.ntp.org
hosts:
  - hostname: {{ hostvars['sno1'].hostname }}
    role: master
    interfaces:
      - name: {{ hostvars['sno1'].interface }}
        macAddress: "{{ hostvars['sno1'].mac_addr }}"
    rootDeviceHints:
      deviceName: /dev/sda
    networkConfig:
      interfaces:
        - name: {{ hostvars['sno1'].interface }}
          type: ethernet
          state: up
          mac-address: "{{ hostvars['sno1'].mac_addr }}"
          ipv4:
            enabled: true
            address:
              - ip: {{ hostvars['sno1'].ip }}
                prefix-length: 24
            dhcp: false
      dns-resolver:
        config:
          server:
            - {{ hostvars['sno1'].dns }}
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: {{ hostvars['sno1'].gateway }}
            next-hop-interface: {{ hostvars['sno1'].interface }}
            table-id: 254

