---
apiVersion: v1
baseDomain: {{ base_domain }}
compute:
  - name: worker
    replicas: 0
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: 1
metadata:
  name: {{ sno_cluster_name }}
networking:
  machineNetwork:
    - cidr: {{ sno_network_cidr }}
platform:
  none: {}
pullSecret: '{{ pull_secret }}'
sshKey: '{{ ssh_public_key }}'

